In [4]:
import pandas as pd
df = pd.DataFrame([1, 2, 3], columns=['value'])
df

   value
0      1
1      2
2      3

In [5]:
pd.DataFrame([('apple', 160), ('orange', 30), ('ki wi', 80), ('banana', 120)], columns=['name', 'price'])

     name  price
0   apple    160
1  orange     30
2   ki wi     80
3  banana    120

In [25]:
data = {
'fruit': ['Apple', 'Orange', 'Kiwi', 'Banana'],
'price': [160, 30, 80, 120],
'order': [12, 30, 8, 21]
}

In [26]:
df = pd.DataFrame(data)
df

    fruit  order  price
0   Apple     12    160
1  Orange     30     30
2    Kiwi      8     80
3  Banana     21    120

In [27]:
df['total'] = df['order'] * df['price']
df

    fruit  order  price  total
0   Apple     12    160   1920
1  Orange     30     30    900
2    Kiwi      8     80    640
3  Banana     21    120   2520

In [28]:
data = {'price': [160, 30, 80, 120],
              'order': [12, 30, 8, 21]}
df = pd.DataFrame(data,
    index=['Apple', 'Orange', 'Kiwi', 'Banana'])
df

        order  price
Apple      12    160
Orange     30     30
Kiwi        8     80
Banana     21    120

In [29]:
df.ix['Apple']

order     12
price    160
Name: Apple, dtype: int64

In [31]:
df.shape

(4, 2)

In [15]:
df['fruit']

KeyError: 'fruit'